{% extends 'core/base.html' %}
{% load static %}

{% block stylesheet %}
<link rel="stylesheet" href="{% static 'core/css/licitacionescrea.css' %}">
{% endblock %}

{% block content %}
<div class="col-md-6">
    <h3>Crear Licitacion</h3>
    <div class="card-body">
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li class="{{ message.tags }}">{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        <form method="POST" action="" enctype="multipart/form-data" id="create_licitacion">
            {% csrf_token %}
            {{ form.as_p }}
            <div class="text-center mt-3">
                <input type="submit" class="btn btn-primary" value="Crear Licitacion">
            </div>
        </form>
    </div>
</div>

{% endblock %}