{% extends 'core/base.html' %}
{% load static %}

{% block stylesheet %}
<link rel="stylesheet" href="{% static 'core/css/licitacionescrea.css' %}">
{% endblock %}

{% block content %}
<div class="container">
    <h1 style="text-align: center !important;">
        Mantenedor de Licitaciones
    </h1>
    {% if form %}
    <form method="POST" action="" enctype="multipart/form-data" id="formulario">
        <div class="form-group">
            {% csrf_token %} {{ form.as_p }}
        </div>
        <input type="submit" class="btn btn-primary btnwidth" id="id_guardar" value="Guardar">
        <!-- <input type="reset" class="btn btn-primary btnwidth" id="id_nuevo" value="Nuevo"> -->
        <a class="btn btn-success btnwidth" href="{% url 'creacion_de_licitaciones' 'ins' -1 %}">Nuevo</a>
        {% if id != '-1' %}
        <a class="btn btn-danger btnwidth" href="{% url 'creacion_de_licitaciones' 'del' id %}">Eliminar</a>
        {% endif %}
        <a class="btn btn-info btnwidth" href="{% url 'home' %}">Inicio</a>
        {% if mesg %}
        <div id="form_message" class="alert alert-danger" role="alert">{{ mesg }}</div>
        {% endif %}
    </form>
    {% endif %}
    {% if list %}
    <table id="tabla_datos">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Archivo</th>
                <th class="titulo_boton">Editar</th>
                <th class="titulo_boton">Eliminar</th>
            </tr>
        </thead>
        <tbody>
            {% for licit in list %}
            <tr>
                <td>{{ licit.idLicitacion }}</td>
                <td>{{ licit.nombreLicitacion }}</td>
                <td>
                    {% if licit.archivoLicitacion %}
                    <a href="{{ MEDIA_URL }}{{ licit.archivoLicitacion }}" target="_blank" title="Ver PDF">
                        <i class="fas fa-file-pdf">
                            {{ licit.archivoLicitacion }}
                        </i> 
                    </a>
                    {% else %}
                    sin archivo
                    {% endif %}
                </td>
                <td><a href="{% url 'creacion_de_licitaciones' 'upd' licit.idLicitacion %}" 
                    class="btn btn-primary btn-sm boton_chico">Editar</a></td>
                <td><a href="{% url 'creacion_de_licitaciones' 'del' licit.idLicitacion %}" 
                    class="btn btn-danger btn-sm boton_chico">Eliminar</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endif %}
</div>
{% endblock %}