{% extends 'core/administrador.html' %}

{% block content %}
<h2 id="coltit" class="text-center">Menú Vendedor</h2>
<br>
<br>
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="list-group-item list-group-item-action menu-item" id="submenu-licitaciones">
                    <span class="fa fa-gavel"> Mantenedor de Licitaciones</span>
                    <div class="submenu">
                        <a href="{% url 'validar_licitacion' %}" class="submenu-item">Buscar Licitaciones</a>
                        <a href="{% url 'historial_lici' %}" class="submenu-item">Historial de Licitaciones</a>
                </div>
            </div>
            <div class="col-md-9">
            </div>
        </div>
    </div>
{% endblock %}
