{% extends 'core/administrador.html' %}

{% load static %}

{% block stylesheet %}
<link href="{% static 'core/css/button.css' %}" rel="stylesheet">
{% endblock %}

{% block admin_content %}
    <h3 id="coltit">Historial de Usuarios</h3>

   <!--BOTON DE DESCARGA EXCEL-->
    <div class="d-flex justify-content-end mb-3">
        <button class="button">
            <a href="{% url 'desc_user_excel' %}" class="button-content">Descargar Excel</a>
        </button>
    </div>



    <table id="tabladate" class="table table-bordered">
        <thead>
            <tr>
                <th>RUT</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Email</th>
                <th>Tipo de Usuario</th>
                <th>Estado</th> 
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for usuario in usuarios %}
            <tr>
                <td>{{ usuario.rut }}</td>
                <td>{{ usuario.first_name }}</td>
                <td>{{ usuario.last_name }}</td>
                <td>{{ usuario.email }}</td>
                <td>
                    {% for group in usuario.groups.all %}
                        {% if group.name == "VENDEDOR" %}
                            Vendedor
                        {% elif group.name == "GERENTE" %}
                            Gerente
                        {% else %}
                            Otro
                        {% endif %}
                    {% endfor %}
                </td>
                <td>
                    {% if usuario.is_active %}
                        Activo
                    {% else %}
                        Inactivo
                    {% endif %}
                </td>
                <td>
                    <a href="{% url 'editar_usuario' usuario.id %}" class="btn btn-primary btn-sm">Editar</a> 
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
