<!--AQUI SOLO UTILIZAREMOS DEL HOME/CONTENIDO COMO LAS ESTADISTICAS ETC-->
{% extends 'core/base.html' %}
{% load static %}

{% block stylesheet %}
<link rel="stylesheet" href="{% static 'core/css/home.css' %}">
<link rel="stylesheet" href="{% static 'core/css/textomovil.css' %}">
{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="info-box">
                <h2 class="text-center">Información de Licibot</h2>
                <p>Licibot es una plataforma diseñada para simplificar la gestión de licitaciones públicas y privadas. Con Licibot, puedes:</p>
                <ul>
                    <li>Analizar y resumir automáticamente la documentación de licitaciones.</li>
                    <li>Interactuar con la plataforma de manera intuitiva para consultar licitaciones.</li>
                    <li>Facilitar la identificación de licitaciones basadas en criterios específicos.</li>
                    <li>version 0.75</li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="marquee-container">
    <div class="marquee" id="marquee">
        <ul class="licitaciones-container">
            <span>| Version actual 0.75 |</span>
            <span>
                | Hay {{ lici_count }} licitaciones guardadas |
            </span>
            <span>
                | Hay {{ preg_count }} preguntas guardadas |
            </span>
        </ul>
    </div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function() {
        const marquee = document.getElementById('marquee');
        const containerWidth = document.querySelector('.marquee-container').offsetWidth;
        const marqueeWidth = marquee.offsetWidth;
        let currentPos = containerWidth;

        function animateMarquee() {
            currentPos -= 2; // Velocidad del desplazamiento
            if (currentPos < -marqueeWidth) {
                currentPos = containerWidth;
            }
            marquee.style.transform = `translateX(${currentPos}px)`;
            requestAnimationFrame(animateMarquee);
        }
        animateMarquee();
    });
</script>

{% endblock %}





