{% extends 'core/base.html' %}
{% load static %}

{% block stylesheet %}
<link rel="stylesheet" href="{% static 'core/css/card.css' %}">
<link rel="stylesheet" href="{% static 'core/css/general.css' %}">
{% endblock %}

{% block content %}
<div class="container mt-3">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="card mb-1">
                <div class="card-body">
                    <h2 id="coltit" class="text-center">Bienvenid@ a Licibot</h2>
                    <p class="card-text">Optimiza la lectura de archivos de licitaciones con nuestra solución basada en IA. Minimiza el tiempo de análisis diario y maximiza la eficiencia.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Contenido principal -->
<div class="container">
    <!-- Row para contener las cards de tamaño de archivos, palabras leídas y páginas leídas -->
    <div class="row mt-2">
        <div class="col-md-4">
            <div class="card mb-1">
                <div class="card-body">
                    <h5 class="text-center" style="font-weight: bold;">
                        Tamaño total de archivos PDF
                    </h5>
                    <p class="card-text">{{ tamano_total_megabytes }} MB</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-1">
                <div class="card-body">
                    <h5 class="text-center" style="font-weight: bold;">
                        Palabras leídas
                    </h5>
                    <p class="card-text">{{ tamano_total_megabytes }}</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-1">
                <div class="card-body">
                    <h5 class="text-center" style="font-weight: bold;">
                        Páginas leídas
                    </h5>
                    <p class="card-text">{{ tamano_total_megabytes }}</p>
                </div>
            </div>
        </div>
    </div>

    <!-- Row para contener las últimas licitaciones y el gráfico -->
    <div class="row mt-3">
        <!-- Card con las últimas 5 licitaciones -->
        <div class="col-md-6">
            <div class="card mb-1">
                <div class="card-body">
                    <h5 class="text-center" style="font-weight: bold;">
                        Últimas 5 Licitaciones agregadas
                    </h5>
                    <ul class="list-group list-group-flush">
                        {% for licitacion in ultimas_licitaciones %}
                        <li class="list-group-item">
                            <strong>ID:</strong> {{ licitacion.idLicitacion }}<br>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>

        <!-- Card con el Pie Chart -->
        <div class="col-md-6">
            <div class="card mb-1">
                <div class="card-body">
                    <h5 class="text-center" style="font-weight: bold;">
                        Distribución de Licitaciones con y sin Archivo
                    </h5>
                    <canvas id="myChart" style="width:100%;max-width:500px"></canvas>
                </div>
            </div>
        </div>
    </div>

    <!-- Fecha -->
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <p class="text-center" style="font-weight: bold;">
                Datos actualizados hasta: {{ fecha_actual }}
            </p>
        </div>
    </div>
</div>

<!-- Scripts -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js"></script>
<script>
    // Pasar valores de Django a JavaScript
    const liciCount = {{ lici_count }};
    const noliciCount = {{ nolici_count }};
    const licidocCount = {{ licidoc_count }};
</script>
<script src="{% static 'core/js/chart-config.js' %}"></script>
{% endblock %}
