{% extends 'core/base.html' %}
{% load static %}

{% block stylesheet %}
<link href="{% static 'core/css/login.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="login-container">
    <div class="login">
        <form method="POST" action="">
          {% csrf_token %}
          <p class="form-login">Iniciar Sesión</p>
          <div class="input-box">
            <input required placeholder="Correo" type="text" name="username" />
          </div>
          <div class="input-box">
            <input required placeholder="Contraseña" type="password" name="password" />
          </div>
          <div class="remember-forgot">
            <a href="{% url 'recuperar_pass' %}">¿Has olvidado la contraseña?</a>
          </div>
          <button class="btn" type="submit">Ingresar</button>
        </form>
        {% if mesg %}
        <div id="form_message" class="alert alert-danger mt-3" role="alert">{{ mesg }}</div>
        {% endif %}
    </div>
</div>
{% endblock %}
