{% extends 'core/administrador.html' %}

{% load static %}

{% block stylesheet %}
{% endblock %}

{% block admin_content %}

    <h3 id="coltit2"> Mantenedor de Preguntas</h3>
<!-- MENSAJES DE ERROR -->
{% if error_message %}
    <div class="alert alert-danger">{{ error_message }}</div>
{% endif %}

{% if messages %}
        {% for message in messages %}
            <div class="alert {{ message.tags }}">{{ message }}</div>
        {% endfor %}
{% endif %}

    {% if form %}
    <form method="post" enctype="multipart/form-data">
        <br>
        {% csrf_token %}
        <div class="form-group">
            <label for="nombrePregunta"> Pregunta: </label>
            {{ form.nombrePregunta }}
        </div>

        <input type="submit" class="btn btn-primary btnwidth" id="id_guardar" value="Guardar">
        <a class="btn btn-success btnwidth" href="{% url 'mantenedor_preguntas' 'ins' -1 %}">Nuevo</a>
        {% if id != '-1' %}
        <a class="btn btn-danger btnwidth" href="{% url 'mantenedor_preguntas' 'del' id %}">Eliminar</a>
        {% endif %}
        {% if mesg %}
        <div id="form_message" class="alert alert-danger" role="alert">{{ mesg }}</div>
        {% endif %}
    </form>
    {% endif %}
    <br>
    {% if list %}
    <table id="tabladate" class="table table-bordered">
        <thead>
            <tr>
                <th>Id</th>
                <th>Pregunta</th>
                <th class="titulo_boton">Editar</th>
            </tr>
        </thead>
        <tbody>
            {% for pregunt in list %}
            <tr>
                <td>{{ pregunt.idPreguntas }}</td>
                <td>{{ pregunt.nombrePregunta }}</td>
                <td><a href="{% url 'mantenedor_preguntas' 'upd' pregunt.idPreguntas %}" 
                    class="btn btn-primary btn-sm boton_chico">Editar</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endif %}



{% endblock %}
