{% extends 'core/administrador.html' %}

{% load static %}

{% block stylesheet %}
<link rel="stylesheet" href="{% static 'core/css/creadores.css' %}">
<link rel="stylesheet" href="{% static 'core/css/menu.css' %}">
{% endblock %}

{% block admin_content %}
<div class="container">
    <h3 id="coltit">Mantenedor de Preguntas</h3>
    {% if form %}
    <form method="POST" action="" enctype="multipart/form-data" id="formulario">
        <br>
        <div class="form-group">
            {% csrf_token %} {{ form.as_p }}
        </div>

        <input type="submit" class="btn btn-primary btnwidth" id="id_guardar" value="Guardar">
        <a class="btn btn-success btnwidth" href="{% url 'mantenedor_preguntas' 'ins' -1 %}">Nuevo</a>
        {% if id != '-1' %}
        <a class="btn btn-danger btnwidth" href="{% url 'mantenedor_preguntas' 'del' id %}">Eliminar</a>
        {% endif %}
        {% if mesg %}
        <div id="form_message" class="alert alert-danger" role="alert">{{ mesg }}</div>
        {% endif %}
    </form>
    {% endif %}
    {% if list %}
    <table id="tabladate" class="table table-bordered">
        <thead>
            <tr>
                <th>Id</th>
                <th>Pregunta</th>
                <th class="titulo_boton">Editar</th>
            </tr>
        </thead>
        <tbody>
            {% for pregunt in list %}
            <tr>
                <td>{{ pregunt.idPreguntas }}</td>
                <td>{{ pregunt.nombrePregunta }}</td>
                <td><a href="{% url 'mantenedor_preguntas' 'upd' pregunt.idPreguntas %}" 
                    class="btn btn-primary btn-sm boton_chico">Editar</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endif %}
</div>


{% endblock %}